### SQLAlchemy with Postgres on Supabase

In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.sql import text

from dotenv import load_dotenv

load_dotenv('.env')

password : str = os.getenv('PASSWORD')
db_id : str = os.getenv('DBID')

engine = create_engine("{dialect}+{driver}://{username}:{password}@{host}:{port}/{database}".format(
                        dialect="postgresql",
                        driver="psycopg2",
                        username="postgres",
                        password=password,
                        host=f"db.{db_id}.supabase.co",
                        port=5432,
                        database="postgres"
                        ))

conn = engine.connect()
tale = 'book'
sql_query = f"SELECT * FROM {table}"

df = pd.read_sql_query(sql=text(sql_query), con=conn)
df

NameError: name 'table' is not defined

In [7]:
newrow = {'id':2,'title':'Test','description':'ciao ciao'}
df.loc[len(df)]=newrow
df

   id   title description
0   1  safari      Manuel
1   2    Test   ciao ciao
2   2    Test   ciao ciao

In [8]:
conn = engine.connect()
df.to_sql('book', conn, if_exists= 'replace',index=False) #if_exists= 'append'
print('Done!')

3